header{
    background-color: #222831;
}
.letraCesta{
    color: white;
    font-family: 'https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap';
}
.svgTamanyo{
    height: 30px;
}
.logotipo{
    height: 100px;
}
.redesSociales{
    width: 40px;
    height: 40px;
    margin-left: 2%;
}
.footer{
    background-color: #29a19c;
}
.colorLetra{
    color: #29a19c;
}
.fondoCopyEnlaces{
    background-color: #222831;
}